body {
    font-family: 'Inter', sans-serif;
  margin: 0;
     background-color: #eaf0f8;   /* same light grey as picture */
width:100%;
}

#hero{
  display: flex;
  justify-content: space-around;
  Width:100%;
Height:86px;
background-color: white;
}
#logo{
  display: flex;   
 align-items: center;
 gap: 20px;
 color:rgb(114, 112, 112);
 background-color: white;
 padding-right: 20px;
}
.logo1{
    margin-top: 0px;
}
#hero1{
    border-radius: 5px;
  gap: 0px;
  display: flex;
align-items: center;
 overflow: hidden; 
}
#heroo{
  align-items: center;
  display: flex;

}
#input{
  padding: 6px 10px 6px 12px;
  border:1.8px solid #4F8DF7;
      border-radius: 0px;

}
#Search{
  padding: 7px 110px 7px 7px;
  border-color: #4F8DF7;
outline: none;
    border-radius: 0px;
 border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 1px ;  
}
#button{
  padding: 7px 15px 7px 12px;
color: white;
background-color: #4F8DF7 ;
  border-color: #4F8DF7;
    border-radius: 0px;
border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#category{
  display: flex;
  align-items: center;
  justify-content: space-around;
  Width:100%;
Height:56px;
Top:86px;
gap: 280px;
 border-top: 1.5px solid #d9e1ec;
  border-bottom: 1.5px solid #d9e1ec;
  background-color: white;
padding-left: 0px;
gap: 150px;

}
#category1{
   display: flex;
  align-items: center;
  gap: 20px;
}
#category2{
   display: flex;
  align-items: center;
    gap: 20px;

}
#line{
    color: gray;
        margin: 20px 0 20px 90px;

}
#line a{
    text-decoration: none;
    color: gray;
}
#height{
      width: 240px;

}
#main{
  display: flex;
  margin: 20px 7%;
  gap: 40px;
   grid-template-columns: 240px 1fr; 
}
#section{
    border-bottom:1px solid gray;
      width: 240px;

}
#section1{
    display: inline;
font-size: 20px;
font-weight: 600;
 display: flex;
  align-items: center;
  justify-content: space-between;
}
#section2{
color: gray;
}
.para{
      display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 0;
    left: 0;
}
.check{
  width: 16px;
    height: 16px;
border-radius: 5px;
accent-color: #4F8DF7;

}
#brand,#features{
    border-bottom:1px solid gray;

}
.price-box{
  width: 240px;
  margin-top: 20px;
      border-bottom:1px solid gray;
}

.slider-container{
  position: relative;
  width: 240px;
  height: 6px;
  background: #e0e6ff;
  border-radius: 5px;
  margin: 15px 0;
}

.slider-container input{
  position: absolute;
  width: 240px;
  background: none;
  pointer-events: none;
 appearance: none;
-webkit-appearance: none;
}

.slider-container input::-webkit-slider-thumb{
  pointer-events: auto;
  width: 13px;
  height: 16px;
  background: white;
  border: 3px solid #4F8DF7;
  border-radius: 50%;
  cursor: pointer;
}

.inputs{
  display: flex;
  gap: 30px;
}

.inputs input{
  width: 100%;
  padding: 6px;
  border: 1px solid #d9e1ec;
  border-radius: 6px;
}

.apply-btn{
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #d9e1ec;
  background: white;
  color: #4F8DF7;
  font-weight: 600;
  border-radius: 6px;
  margin-bottom: 20px;

}
#minPrice,#maxPrice{
  width: 90px;
}
#condition{
     border-bottom:1px solid gray;
   padding-bottom: 20px;
}
#conditionlist label{
   display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  margin: 8px 0;
  cursor: pointer;
  margin-bottom: 20px;

}
.radio{
   width: 16px;
  height: 16px;
  accent-color: #4F8DF7;
  cursor: pointer;
}
.filled{
  color: #FFC107;   /* gold */
}

.empty{
  color: #bcbcbc;
}
.star{
 margin: 0 1px; 
  gap: 0;
}
#product-card{
  width: 100%;
  max-width: 1000px;

}
#main{
  display: flex;
  margin: 20px 7%;
  gap: 40px;
   grid-template-columns: 240px 1fr; 
}
#main1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1.5px solid #d9e1ec;
  border-radius: 5px;
  padding-left:20px ;
    padding-right:20px ;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
 box-sizing: border-box;  
height: 20px;
}

#main2{
  display: flex;
  gap: 5px;
}
#p{
  font-weight: 600;
}
#main3{
  display: flex;
gap: 15px;
align-items: center;
}
#p1{
  border: 1.5px solid #d9e1ec;
  border-radius: 5px;
  display: flex;
    align-items: center;
    gap: 85px;
 padding: 6px 10px 6px 10px;  
}
#p1 p{
  margin: 0;
}
#icon{
 font-size: 25px;
 border-left:1.5px solid #d9e1ec;
 padding-left: 4px;

}
#main11{
  display: flex;
  align-items: center;
  gap: 130px;
}
#mobile{
    display: flex;
    text-align: center;
    margin-top: 10px;
    gap: 10px;
}
.mobilename{
    display: flex;
    background-color: white;
    padding: 5px 5px 5px 5px;
    gap: 15px;
    border-radius: 5px;
    color:gray ;
    border: 1px solid blue;
}
.price-row{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0px;
  margin-bottom: 0px;}

.new-price{
  font-weight: 600;
  font-size: 18px;
}

.old-price{
  text-decoration: line-through;
  color: gray;
  font-size: 16px;
}
.rating-row{
  display: flex;
  align-items: center;
  gap: 5px;
    margin-top: 0px;
  margin-bottom: 4px;
}

.rating-text{
  color: orange;
  font-weight: 400;
}
#mobilecards{
    display: grid;
     grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto); 
      gap: 15px;

}
.mobilecards1{
    background-color: white;
    border-radius: 5px;
    margin-top: 8px;
}
.mobilecards1 img{
    height: 150px;
    width: auto;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    align-items:center ;
}
#heart {
  color: #4F8DF7;
  font-size: 20px;
  margin: 10px 10px 0 0;
  padding: 7px 7px 7px 7px;
  border: 1.5px solid #d9e1ec;
  border-radius: 5px;
}
#price{
    display: flex;
    justify-content: space-between
}
#mbl{
    padding-left: 10px;
    padding-bottom: 10px;
    border-top: 1.5px solid rgb(208, 206, 206);
}
#footer{
  margin:  20px 90px 20px 90px ;
  justify-content: space-between;
  display: flex;
}
#pagination-bar{
  display: flex;
  align-items: center;
  margin: 20px 7%;
  padding: 10px 15px;
  border-radius: 6px;
  gap: 20px;
   justify-content: flex-end; 
}

/* Left side: Show 10 */
.show{
  display: flex;
  align-items: center;
  gap: 8px;
}

.show select{
  border: 1.5px solid #d9e1ec;
  padding: 7px 10px;
  border-radius: 5px;
}

/* Right side: page numbers */
.pages{
  display: flex;
  align-items: center;
  gap: 0px;
}

.pages button{
  border: 1.5px solid #d9e1ec;
  background: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pages .active{
  background: rgb(185, 185, 185);
  color: black;
}
#last{
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: white;
  padding: 30px 90px 30px 90px;
}
.lastlist{
gap: 50px;

}
.lastlist a{
  display: block;
  margin-bottom: 5px;
color: gray;
text-decoration: none;
}
#last i{
   width: 40px;
  height: 40px;
  background: #a7adb4;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px solid white;
  color: white;
}
#logo{
  display: flex;
  gap: 3px;
}
.last1{
  width: 300px;
}
.last1 p{
font-size: 20px;
font-weight: 500;
}
#page{
  text-align: center;
  background-color: #d5d9df;
   padding: 30px 0 30px 0;
   margin-top: 30px;

}
#page p{
   margin: 4px 0; 
}
#page p:first-of-type{
  font-weight: 600;
  font-size: 25px;
}

#page p:last-of-type{
  color: gray;
}
#div{
   display: flex;
  align-items: center;
  gap: 10px;

  width: fit-content;   /* shrink to content */
  margin: 20px auto;  
}
#email{
    display: flex;
  align-items: center;
  gap: 10px;
background-color: white;
  padding: 7px 150px 7px 12px;
  border: 1.5px solid #d9e1ec;
  border-radius: 5px;

  color: gray;
}