body {
    font-family: 'Inter', sans-serif;
  margin: 0;
     background-color: #eaf0f8;   /* same light grey as picture */
width:100%;
}

#hero{
  display: flex;
  justify-content: space-around;
  Width:100%;
Height:86px;
background-color: white;
}
#logo{
  display: flex;   
 align-items: center;
 gap: 20px;
 color:rgb(114, 112, 112);
 background-color: white;
 padding-right: 20px;
}
.logo1{
    margin-top: 0px;
}
#hero1{
    border-radius: 5px;
  gap: 0px;
  display: flex;
align-items: center;
 overflow: hidden; 
}
#heroo{
  align-items: center;
  display: flex;

}
#input{
  padding: 6px 10px 6px 12px;
  border:1.8px solid #4F8DF7;
      border-radius: 0px;

}
#Search{
  padding: 7px 110px 7px 7px;
  border-color: #4F8DF7;
outline: none;
    border-radius: 0px;
 border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 1px ;  
}
#button{
  padding: 7px 15px 7px 12px;
color: white;
background-color: #4F8DF7 ;
  border-color: #4F8DF7;
    border-radius: 0px;
border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#category{
  display: flex;
  align-items: center;
  justify-content: space-around;
  Width:100%;
Height:56px;
Top:86px;
gap: 280px;
 border-top: 1.5px solid #d9e1ec;
  border-bottom: 1.5px solid #d9e1ec;
  background-color: white;
padding-left: 0px;
gap: 150px;

}
#category1{
   display: flex;
  align-items: center;
  gap: 20px;
}
#category2{
   display: flex;
  align-items: center;
    gap: 20px;

}
#line{
    color: gray;
        margin: 20px 0 20px 90px;

}
#line a{
    text-decoration: none;
    color: gray;
}
#shirt{
  display: flex;
     margin: 20px 7%;
     gap: 70px;
  border: 1.5px solid rgb(216, 210, 210);
    border-radius: 5px;
}
#img{
  width: 250px;
  height: 250px;
  padding-top: 50px;
  border: 1.5px solid rgb(216, 210, 210);
  margin-left: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
#img img{
    width: 200px;
  padding-left:20px;

}
#desc{
  width: 380px;
  margin-top: 20px;

}
.filled{
  color: #FFC107;   /* gold */
}

.empty{
  color: #bcbcbc;
}
.rating-text{
    color: #FFC107;
}
.details {
  color: gray;
}
.dot{
  color: gray;

}
#message{
  color: gray;

}
.msg {
  color: gray;

}
#shopping{
  color: gray;

}
#price{
  display: flex;
 gap: 40px;
background-color: #FAF3E0;
padding: 15px 15px;
margin-top: 10px;
margin-bottom: 10px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.table td {
  padding: 10px;
}

.table td:first-child {
  color: rgb(160, 156, 156);   /* light blue like your image */
  width: 40%;
}

.table td:last-child {
  color: #333;
}
#supplier{
   width: 250px;
   height: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin-top: 20px;
  margin-right: 30px;
}
#name{
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom:1.5px solid rgb(188, 183, 183)  ;
margin-bottom: 10px;
padding-bottom: 10px;
}
#top{
    width: 45px;
  height: 45px;
  background: #c8f0f0;
  color: #2aa6a6;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
#flag{
  gap: 10px;
color: gray;
}
#flag td:first-child{
  width: 25%;
}
#card{
  display: flex;
  margin: 20px 7%;
gap: 20px;
}
#link{
  display: flex;
gap: 20px;
  border-bottom:1.5px solid rgb(188, 183, 183)  ;
}
#link :hover{
  color: blue;
  cursor: pointer;
}
#card1{
  width: 75%;
  border: 1.5px solid rgb(216, 210, 210);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: rgb(105, 100, 100);
}
#spec{
  width: 60%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 2px solid #b0b5ba;   /* light outer border */
  border-radius: 6px;
  overflow: hidden;   /* makes corners neat */
  margin-bottom: 20px;
}

#spec td{
  padding: 12px 10px;
  border-bottom: 1px solid #e0e0e0;  /* light horizontal lines */
}

#spec tr:last-child td{
  border-bottom: none;
    /* removes last extra line */
}

#spec td:first-child{
  color: #666;
  background-color: #cdd0d3;  /* same light gray as your image */
  width: 35%;
}

#spec td:last-child{
color: rgb(105, 100, 100);
}

#box{
  width: 280px;                     /* same as your image */
  border: 1.5px solid #cdd0d3;
  border-radius: 8px;
  height: 80%;
  padding: 12px;
  background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);

}

#box1{
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}
.cloth{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

/* remove last line */
.cloth:last-child{
  border-bottom: none;
}

/* image box */
.image{
  width: 60px;
  height: 60px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* resize images properly */
.image img{
  width: 50px;
  height: auto;
}
#product{
  margin: 20px 7%;
padding-left: 30px;
  border: 1.5px solid #dcd7d7;
border-radius: 5px;
background-color: white;
padding-top: 20px;
padding-bottom: 20px;
}
#product1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#product1 img{
  width: 150px;
  height: 140px;
  padding-top: 10px;
  padding-bottom: 10px;

}
#discount{
 margin: 20px 7%;
 display: flex; 
 align-items: center;
 justify-content: space-between;
 background-color: rgb(55, 55, 226);
 padding: 40px 40px 40px 40px;
 border-radius: 5px;
 margin-bottom: 60px;
}
#but button{
color: white;
background-color: rgb(236, 164, 7);
padding: 10px 20px;
border-color: rgb(236, 164, 7);
border-radius: 5px;
}
#last{
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: white;
  padding: 30px 90px 30px 90px;
}
.lastlist{
gap: 50px;

}
.lastlist a{
  display: block;
  margin-bottom: 5px;
color: gray;
text-decoration: none;
}
#last i{
   width: 40px;
  height: 40px;
  background: #a7adb4;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px solid white;
  color: white;
}
#logo{
  display: flex;
  gap: 3px;
}
.last1{
  width: 300px;
}
.last1 p{
font-size: 20px;
font-weight: 500;
}
#footer{
  margin:  20px 90px 20px 90px ;
  justify-content: space-between;
  display: flex;
}