body {
    font-family: 'Inter', sans-serif;
  margin: 0;
     background-color: #eaf0f8;   /* same light grey as picture */
width:100%;
}
#hero{
  display: flex;
  justify-content: space-around;
  Width:100%;
Height:86px;
background-color: white;
}
#logo{
  display: flex;   
 align-items: center;
 gap: 20px;
 color:rgb(114, 112, 112);
 background-color: white;
 padding-right: 20px;
}
.logo1{
    margin-top: 0px;
}
#hero1{
    border-radius: 5px;
  gap: 0px;
  display: flex;
align-items: center;
 overflow: hidden; 
}
#heroo{
  align-items: center;
  display: flex;

}
#input{
  padding: 6px 10px 6px 12px;
  border:1.8px solid #4F8DF7;
      border-radius: 0px;

}
#Search{
  padding: 7px 110px 7px 7px;
  border-color: #4F8DF7;
outline: none;
    border-radius: 0px;
 border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 1px ;  
}
#button{
  padding: 7px 15px 7px 12px;
color: white;
background-color: #4F8DF7 ;
  border-color: #4F8DF7;
    border-radius: 0px;
border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#category{
  display: flex;
  align-items: center;
  justify-content: space-around;
  Width:100%;
Height:56px;
Top:86px;
gap: 280px;
 border-top: 1.5px solid #d9e1ec;
  border-bottom: 1.5px solid #d9e1ec;
  background-color: white;
padding-left: 0px;
gap: 150px;

}
#category1{
   display: flex;
  align-items: center;
  gap: 20px;
}
#category1 a{
  text-decoration: none;
  color: black;
}
#category2{
   display: flex;
  align-items: center;
    gap: 20px;

}
#box{
  display: flex;
Height:400px;
margin:40px 90px 0 90px ;
align-items: center;
border: 1.5px solid #d9e1ec;
justify-content: space-around;
gap: 5px;
border-radius: 5px;
background-color: white;

}
#menu{
  margin-top: 20px;
  width:230px ;
  font-size: 18px;
  color: gray;
  margin-left: 20px;
}
#menu p {
  padding: 8px 12px;
  margin: 0;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

#menu p:hover {
  background-color: #c9d9f1;
  color: black;
}

#pic{
  background-image: url("Banner-board-800x420 2.png");
  width:660px;
  height: 350px;
  margin-top: 20px;
  margin-right: 20px;
  
}

#list{
    margin: 20px 30px 0 0;
  width:200px ;
}
#list1{
    background-color: #c9d9f1;
border-radius: 5px;
height: 120px;
padding-top: 10px;
}
#list11{
  padding-top: 8px;
  padding-left: 8px;
  gap: 9px;
  font-size:30pxpx ;
  display: flex;
}
#list11 i{
  font-size: 30px;
}
#list2{
    background-color: rgb(248, 118, 70);
border-radius: 5px;
height: 100px;
margin-top: 8px;
color: white;
padding: 2px 0 0 20px;
}
#list3{
    background-color: rgb(85, 189, 195);
border-radius: 5px;
height: 100px;
margin-top: 8px;
color: white;
padding: 2px 0 0 20px;
}
#main{
  display: flex;
Height:
240px;
margin:40px 90px 0 90px ;

border: 1.5px solid #d9e1ec;
border-radius: 5px;
background-color: white;

}
#main1{
  padding-top:20px ;
  padding-left: 20px;
  width: 550px;
}
#main11{
  display: flex;
  gap: 5px;
  text-align: center;
  margin-top: 15px;
  
}
#main11 span{
  background-color:  rgb(107, 101, 101);
  color: white;
width: 45px;
height: 40px;
padding-top: 7px;
border-radius: 5px;
}
#main2,#main3,#main4,#main5,#main6{
align-items: center;
border-left: 1.5px solid #d9e1ec;
width: 350px;
padding-left: 25px;
padding-top: 0px;
text-align: center;
}
#section,#card{
 margin:40px 90px 40px  90px ;
  display: grid;
  grid-template-columns: 1.3fr repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;

  border: 1.5px solid #d9e1ec;
  border-radius: 5px;
  background-color: white;


}
#section1{
   grid-row: span 2;
   padding-left: 30px;
  padding: 0px;
background-image: url("Group 969.png"); 
height: 270px; 
 background-size: cover;     
 
  background-position: center; 
  background-repeat: no-repeat;

  height: 100%;                

}
.section2{
position: relative;
  display: flex;
  justify-content: space-between;

  padding: 14px 20px;
  min-height: 160px;

  border-right: 1.5px solid #d9e1ec;
  border-bottom: 1.5px solid #d9e1ec;
}
.section2 img{
   width: 80px;
  height: auto;

  position: absolute;
  right: 16px;
  bottom: 16px;

  max-height: 90px; 

}
.section2 > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.section2:nth-child(5),
.section2:nth-child(9) {
  border-right: none;
}
.section2:nth-child(n+6) {
  border-bottom: none;
}
#card1{
   grid-row: span 2;
   padding-left: 30px;
  padding: 0px;
background-image: url("image 98.png"); 
height: 270px; 
 background-size: cover;        
  background-position: center; 
  background-repeat: no-repeat;

  height: 100%; 
}
.card2{
position: relative;
  display: flex;
  justify-content: space-between;

  padding: 14px 20px;
  min-height: 160px;

  border-right: 1.5px solid #d9e1ec;
  border-bottom: 1.5px solid #d9e1ec;
}
.card2 img{
   width: 80px;
  height: auto;

  position: absolute;
  right: 16px;
  bottom: 16px;

  max-height: 90px; 

}
.card2 > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.card2:nth-child(5),
.card2:nth-child(9) {
  border-right: none;
}
.card2:nth-child(n+6) {
  border-bottom: none;
}
#bgd{
  background-image: url("Group 982.png");
  height: 420px;
 margin:0px 90px 0 90px ;

 background-size: cover;        
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  border-radius: 5px;
  gap: 180px;
justify-content: space-around;
}
#bgd1{
padding: 30px 0 0 30px;
color: white;
}
#bgd2{
  width: 500px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding-left: 30px;
  margin-right: 30px;
}
#in{
  width: 95%;
  color: black;
  border-radius: 5px;
  border:1.5px solid #d9e1ec;
  padding: 10px 0 10px 10px;
}
#in1{
    width: 95%;
      border-radius: 5px;
  border:1.5px solid #d9e1ec;
  padding: 12px 0 35px 10px;

}
#in2{
  margin-top: 15px;
    border:1.5px solid #d9e1ec;
      border-radius: 5px;
      margin-bottom: 15px;
padding: 10px 110px 10px 10px;

}
#in3{
padding: 10px;
    border:1.5px solid #d9e1ec;
      border-radius: 5px;
 display: flex;
  align-items: center;
  gap: 45px;
}
#bag{
Height:696px;
margin:0px 90px 0 90px ;

  padding: 40px 0; 
}

#bag2{
height: 330px;
width: 100%;
    gap: 15px; 
    text-align: left; 
      display: grid;
  grid-template-columns: repeat(5, 0.5fr);
}
.bag12{
margin-top: 30px;
background-color: white;

    border:1.5px solid #d9e1ec;
     display: flex;             
  flex-direction: column;   
 gap: 10px;
     border-radius: 5px;
     padding-top: 30px;
}
.bag12 img{
 width: 100%;
  height: 160px;
  object-fit: contain;

}
.bag12 p{
padding-left: 30px;

}

  .bag12 p:first-of-type{
  font-weight: 550;
  margin: 0;
  padding-top: 20px;
}

.bag12 p:last-of-type{
  color: gray;
  font-size: 13px;
  margin: 0;
}
#board{
  width: 1080px;
Height:256px;
margin:40px 90px 0 90px ;

}
#board1{
  display: flex;
  gap: 25px;
 width: 100%;
}
.board2{
     width: 292px;
  border: 1.5px solid #d9e1ec;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
background-color: white;

}  
.board2 img{
   
width:295px ;
object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.board2 i{
  position: absolute;
   width: 40px;
  height: 40px;
  background: #eaf3ff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px solid white;
  bottom: 50px;       
  right: 20px;
  font-size: 16px;
}
.board2 p{
  padding-left: 30px;
  font-weight: 500;
}
#flags{
height: 140px;
margin:40px 90px 50px 90px ;

}
#flag{
  display: grid;
 grid-template-columns: repeat(5, 1fr); gap: 20px;
justify-content: space-between;
margin-bottom: 20px;}
.flag1{
  display: flex;
 align-items: center;
  gap: 10px;
}
.flag1 img{
   width: 50px;
  height: auto;
}
.flag1 p{
  font-size: 16px;
   margin: 0;
  line-height: 1.2;
}


.flag1 p:last-child{
  color: gray;
  white-space: nowrap;
}
#page{
  text-align: center;
  background-color: #d5d9df;
   padding: 30px 0 30px 0;
   margin-top: 30px;

}
#page p{
   margin: 4px 0; 
}
#page p:first-of-type{
  font-weight: 600;
  font-size: 25px;
}

#page p:last-of-type{
  color: gray;
}
#div{
   display: flex;
  align-items: center;
  gap: 10px;

  width: fit-content;   /* shrink to content */
  margin: 20px auto;  
}
#email{
    display: flex;
  align-items: center;
  gap: 10px;
background-color: white;
  padding: 7px 150px 7px 12px;
  border: 1.5px solid #d9e1ec;
  border-radius: 5px;

  color: gray;
}
#last{
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: white;
  padding: 30px 90px 30px 90px;
}
.lastlist{
gap: 50px;

}
.lastlist a{
  display: block;
  margin-bottom: 5px;
color: gray;
text-decoration: none;
}
#last i{
   width: 40px;
  height: 40px;
  background: #a7adb4;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px solid white;
  color: white;
}
#logo{
  display: flex;
  gap: 3px;
}
.last1{
  width: 300px;
}
.last1 p{
font-size: 20px;
font-weight: 500;
}
#footer{
  margin:  20px 90px 20px 90px ;
  justify-content: space-between;
  display: flex;
}